<h1>Update Student Info </h1>

<%= form_for @edit_db_student do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.submit %>
<% end %>